{% extends 'defaultLayout.html' %} {% block content %}
<h1>Projekty</h1>
<h2>Projekty stworzone przez ciebie</h2>
{% if user_projects_list %}
<ul>
  {% for proj in user_projects_list %}
  <a href="{% url 'projectManage' id=proj.id%}">
    <li>
      <div><p>{{proj}}</p></div>
    </li>
  </a>
  {% endfor %}
</ul>
{% else %}
<p>Nie posiadasz jeszcze żadnych projektów.</p>
{% endif %}

<h2>Projekty w których uczestniczysz</h2>

{% if user_participant_list %}
<ul>
  {% for proj in user_participant_list %}
  <a href="{% url 'projectManage' id=proj.id%}">
    <li>
      <div><p>{{proj}}</p></div>
    </li>
  </a>
  {% endfor %}
</ul>
{% else %}
<p>Nie uczestniczysz w żadnych innych projektach.</p>
{% endif %}

<h2>Zaproszenia</h2>

{% if user_invitations_list %}
<ul>
  {% for proj in user_invitations_list %}
  <li>
    <span>
      <p>{{proj}}</p>
      <a href="{% url 'invitationAccept' proj.id %}"
        ><i class="fas fa-check"></i></a
      ><a href="{% url 'invitationDiscard' proj.id %}"
        ><i class="fas fa-times"></i
      ></a>
    </span>
  </li>

  {% endfor %}
</ul>
{% else %}
<p>Nie posiadasz aktualnie żadnych zaproszeń.</p>
{% endif %}
<a href="{% url 'newproject' %}">Stwórz nowy projekt</a>
{% endblock %}
