:root {
  --background: #120447;
  --background-dark: #0d0332;
  --primary: #cfc3ff;
  --secondary: #a087ff;
  --action: #a087ff;
  --neutral: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--neutral);
}

.logo {
  color: var(--primary);
  font-family: 'Pacifico', cursive;
}

h1 {
  color: var(--neutral);
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--action);
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-dark);
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 10px 32px;
  align-items: center;
  font-size: 24px;
}

main {
  align-items: center;
  min-height: 100vh;
  padding: 64px;
  display: flex;
  flex-direction: column;
}

input {
  color: black;
}

nav {
  display: flex;
}

nav p {
  font-size: 16px;
  margin: auto;
}

nav * {
  padding: 0px 10px;
}

button {
  background: black;
}
