:root {
  --background: #252525;
  --background-dark: #1a181d;
  --primary: #cfc3ff;
  --secondary: #a087ff;
  --action: #a087ff;
  --neutral: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--neutral);
}

.logo {
  color: var(--primary);
  font-family: 'Pacifico', cursive;
}

h1 {
  color: var(--neutral);
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--action);
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-dark);
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 10px 32px;
  align-items: center;
  font-size: 24px;
}

main {
  align-items: center;
  min-height: 100vh;
  padding: 64px;
  display: flex;
  flex-direction: column;
}

input {
  color: black;
}

nav {
  display: flex;
}

nav p {
  font-size: 16px;
  margin: auto;
}

nav * {
  padding: 0px 10px;
}

button {
  background: black;
}

div.project_info {
  display: flex;
  width: 100%;
  align-items: center;
}

div.project_info * {
  margin: 2px;
}

div.unvisible {
  display: none;
}

div.modal {
  position: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.333);
}

div.modal form {
  min-width: 600px;
  height: 400px;
  padding: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-dark);
  border: var(--primary) 1px solid;
  border-radius: 20px;
  flex-wrap: wrap;
}

select,
textarea {
  color: black;
}

ul.tables_list {
  display: flex;
  width: 100%;
}

li.table {
  min-width: 200px;
  max-width: 200px;
  background: var(--primary);
  color: black;
  list-style-type: none;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

ul.tasks {
  display: flex;
  width: 100%;
}

section {
  width: 100%;
  height: 80vh;
  overflow: scroll;
}

li.task {
  min-height: 70px;
  background-color: var(--neutral);
  margin: 3px;
  color: black;
  padding: 5px;
}

li.task a {
  color: black;
}

div.flex_in_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.flex_column {
  display: flex;
  flex-direction: column;
}

div.assigned_members {
  display: flex;
  justify-content: flex-start;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.assigned_members * {
  margin: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.modal form.task_view {
  padding: 70px;
}

ul.task_list {
  list-style-type: none;
}

li.task_elem {
  width: 400px;
  height: 70px;
  border: var(--primary) 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

p.prim {
  font-size: 1.2em;
}
